<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="20.2.0.36" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="20.2.0.36" targetFramework="net45" />
  <package id="Syncfusion.Pdf.WinForms" version="20.2.0.36" targetFramework="net45" />
  <package id="Syncfusion.Pdf.Wpf" version="20.2.0.36" targetFramework="net45" />
  <package id="Syncfusion.Shared.Base" version="20.2.0.36" targetFramework="net45" />
  <package id="Syncfusion.Shared.Windows" version="19.3.0.48" targetFramework="net45" />
  <package id="Syncfusion.Shared.WPF" version="20.2.0.36" targetFramework="net45" />
  <package id="Syncfusion.Tools.WPF" version="20.2.0.36" targetFramework="net45" />
</packages>